.Rproj.user/

assets/USmap_cnty_df.rds
assets/USmap_st_df.rds

data/cfs_cleaned_data
data/data_needs
data/cntyflows_12_lin_2019.csv

code/check_predict.do
code/dyadic_county_merged_construction.do

output/dyadic_county_flows.rds
output/dyadic_county_2017.rds
output/dyadic_state_2017_merge.dta
output/dyadic_county_flows_adjusted.rds
output/dyadic_county_flows_adjusted.dta
output/sim_to_obs_ration.txt

documentation/