.Rproj.user/
.Rhistory

assets/USmap_cnty_df.rds
assets/USmap_st_df.rds

data/cfs_cleaned_data
data/data_needs
data/faf4.5.1_2017_state.dta
Data/smith_etal_2017

code/dyadic_county_merged_construction.do

output/dyadic_county_flows.rds
output/dyadic_county_2017.rds
output/dyadic_state_2017_merge.dta
output/dyadic_county_flows_adjusted.rds
output/dyadic_county_flows_adjusted.dta
output/sim_to_obs_ration.txt
output/st_trade_flows.dta
output/dy_cnty_probs.rds

output/figs

documentation/

Flow-map-in-r-ggplot/
multinomial_logit_example/

.DS_Store

